div{
    width: 200px;
    height: 200px;
    background-color: dimgray;
}
h1{
    background-color: pink;
    width: 200px;
    padding-left: 100px;
    padding-bottom: 50px;
    margin: 0;
}
#one{
    background-color: darkslateblue;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}
#two{
    background-color: darkslategrey;
    border-color: coral;
    border-width: 3px;
    border-style: dashed;
    border-left: firebrick;
    border-left-width: 5px;
    border-left-style: ridge;
    padding-right: 50px;
    margin: 200px
}
#three{
    background-color: darkred;
    border: 4px dotted black;
    border-left-style: solid;
    border-radius: 50%;
}
button{
    padding: 10px 20px 30px 40px;
}
body{
    margin: 0;
}
span{
    margin-left: 30px;
    margin-bottom: 50px;
}