h1{
    background-color: burlywood;
    border: 2px solid black;
    /* display: inline; */
    width: 300px;
    padding: 50px;
    margin: 100px;
}
span{
    background-color: blueviolet;
    border: 1px solid black;
    display: block;
}
p span {
    display: inline;
    width: 500px;
    padding: 100px;
    margin: 20px;
}
div{
    height: 200px;
    width: 200px;
    background-color: khaki;
    border: 5px solid black;
    display:inline-block;
    margin: 50px;
}
/* inline elements do not respect width height margin
block elements respect width height margin  */

/* display: none -- will hide elements and not take up any space in webpage */